.customForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .register-container {
      display: flex;
      align-items: flex-start; /* Align the left and right sides at the top */
      background: #F4F7FF;
      font-size: medium;
      font-family: "poppins", sans-serif;
      max-width: 100%;
      padding: 20px;
      margin-bottom: 40px;
    }
    
    .left-side {
      flex: 1;
      background: linear-gradient(0deg, rgba(163, 188, 248, 0.80) 0%, rgba(163, 188, 248, 0.70) 100%), url('/assets/images/image_121.png'), lightgray 50% / cover no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      color: white;
      max-width: 50%;
      height: 750px;
      overflow: hidden;
    }
    
    .left-side p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 2rem;
      font-size: 1.2rem;
    }
    
    .right-side {
      flex: 1;
      color: black;
      max-width: 50%;
      height: 100vh;
      overflow: auto;
      padding: 2rem;
    }
    
    .login-form {
      max-width: 30rem;
      margin: 0 auto;
    }
    
    .customButon{
  
      background-color: #017DB5;
      color: white;
  
  
    }
  
    .custom{
      flex-direction: column;
  
    }
  
    .mat-form-field input{
      color: black;
    }

    .close{
      justify-content: flex-end;
    }

    .top{
      flex-direction: row;
      justify-content: space-between;

    }

    @media (max-width: 768px) {
      .register-container {
        flex-direction: column-reverse;
        align-items: center;
      }
    
      .left-side {
        width: 100%;
        max-height: 300px; /* Adjust the maximum height as needed */
      }
    
      .right-side {
        width: 100%;
        max-width: 100%; /* Ensure the right side fills the width */
      }
    }

    