mat-label {
    color: white;
}

.mat-mini-fab {
    margin: 0 10px;
}

mat-card {
    margin: 15px 0;
}

mat-card p {
    padding: 10px;
}

mat-expansion-panel {
    color: white;
}

.entries {
    margin-top: 10px;
}
.mat-select {
    color: white;
}

.duration {
    margin-top: 10px;
}

.mat-tab-group {
    color: white;
}
