<div class="register-container mb-2">
    <div class="left-side">
        <p><i class="fa-solid fa-quote-left m-1 ml-2"></i>Expand your network. Join BLUE and collaborate with industry-leading consultants<i class="fa-solid fa-quote-right m-1 mr-2"></i></p>
    </div>
    <div class="right-side">
        <div class="custom-card-log customcard">
            <div class="p-3 text-dark d-flex top">
                <button mat-button routerLink="/auth/login" class="mr-2"><mat-icon class="text-muted">arrow_back</mat-icon> Back</button>
                <h6 class="text-muted small close">STEP 01/02</h6>
            </div>

            <mat-progress-bar *ngIf="loading" class='onboarding-loading-bar' mode="indeterminate"></mat-progress-bar>
            <div class="custom-card-body p-3">
                <form class="card-body pt-0 pl-0 pr-0 m-0 login-form customForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="error-alert" [class.active]="hasErrors">{{errorMessage}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Having trouble logging in? Enter your email below and we will send you a code to reset your password</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- code -->
                        <mat-form-field class="col-sm-12" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input required [formControl]="email" matInput placeholder="user@example.com" type="text">
                            <mat-error *ngIf="email.invalid">Valid email address is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="text-right col-sm-12">
                            <button (click)="recover()" mat-button [disabled]="loading" matTooltip="Next" class="custombotton"> Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
