<div class="container my-5">
    <div class="row">
        <!-- date time picker -->
        <mat-form-field class="col-md-12">
            <input [(ngModel)]="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <!-- contract drop down -->
        <mat-form-field class="col-md-6">
            <mat-label>Client</mat-label>
            <mat-select [(ngModel)]="contract">
                <mat-option *ngFor="let contract of referenceData.contracts" [value]="contract.id">
                    {{contract.company.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- activity drop down -->
        <mat-form-field class="col-md-6">
            <mat-label>Activity</mat-label>
            <mat-select [(ngModel)]="activity">
                <mat-option>-- None --</mat-option>
                <mat-optgroup *ngFor="let group of referenceData.contracts" [label]="group.company.name"
                    [disabled]="group.disabled">
                    <mat-option *ngFor="let activity of group.activities" [value]="activity.name">
                        {{activity.name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <div class="col-md-12">
            <app-custom-time-duration-picker class="col-12" [(value)]="minutes"></app-custom-time-duration-picker>
        </div>
        <mat-form-field class="col-md-12">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="description" matInput placeholder="Description of Task" rows="2"></textarea>
        </mat-form-field>
        <div class="col-md-12">
            <button class="float-right" (click)="submitTimeEntry()" mat-raised-button><mat-icon>save</mat-icon>SAVE</button>
        </div>
    </div>
</div>