<div class = "container">
    <!-- <div class="custom-card p-0 my-3 col-sm-12 col-md-8 col-lg-6 mx-auto">
        <div class="custom-card-header p-3 text-white">
            <div class="row">
                    <button
                    mat-button
                    routerLink = "/main/user-profile">
                        <mat-icon>arrow_back</mat-icon>
                </button>
                <h5 class="mt-2"><strong>Change Password</strong></h5>
            </div>
            <div class="card-header h5 text-white bg-primary">Change Password</div>
        </div>
        <mat-progress-bar class='custom-loading-bar'  mode="indeterminate" *ngIf="disableButton"></mat-progress-bar>
        <div class="custom-card-body p-3">
            <form [formGroup]="changePasswordForm">
                <!-- current password -->
                <!-- <div class="row">
                    <mat-form-field class="col-sm-12">
                        <mat-label>Current Password</mat-label>
                        <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="currentPassword" matInput placeholder="d3ltagamm" [type]="currentPasswordType" >
                        <mat-icon matSuffix (click)="toggleVisibility('currentPassword')" class="password-visibility-toggle-button" *ngIf="!currentPasswordVisible">visibility_off</mat-icon>
                        <mat-icon matSuffix (click)="toggleVisibility('currentPassword')" class="password-visibility-toggle-button" *ngIf="currentPasswordVisible">visibility</mat-icon>
                    </mat-form-field>
                    <div [hidden]="passwordValid" class="required-field col-sm-12">
                        Current password is required
                    </div>
                </div> -->
                <!-- new password -->
                <!-- <div class="row">
                    <mat-form-field class="col-sm-12">
                        <mat-label>New Password</mat-label>
                        <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="newPassword" matInput placeholder="d3ltagamm" [type]="newPasswordType" >
                        <mat-icon matSuffix (click)="toggleVisibility('newPassword')" class="password-visibility-toggle-button" *ngIf="!newPasswordVisible">visibility_off</mat-icon>
                        <mat-icon matSuffix (click)="toggleVisibility('newPassword')" class="password-visibility-toggle-button" *ngIf="newPasswordVisible">visibility</mat-icon>
                    </mat-form-field>
                    <div [hidden]="newPasswordValid" class="required-field col-sm-12">
                        New password is required
                    </div>
                </div> -->
                <!-- confirm password -->
                <!-- <div class="row">
                    <mat-form-field class="col-sm-12">
                        <mat-label>Confirm Password</mat-label>
                        <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="confirmPassword" matInput placeholder="d3ltagamm" [type]="confirmPasswordType" >
                    </mat-form-field>
                    <div [hidden]="confirmPasswordValid" class="required-field col-sm-12">
                        Passwords need to match
                    </div>
                </div> -->
            <!-- </form>
            <div class="text-right">
                <button 
                class="btn btn-primary w-100"
                    (click)="onChangePassword()" 
                    mat-stroked-button 
                    [disabled] = "disableButton"
                    matTooltip="Change Password">
                        Change
                </button>
            </div>
        </div>
    </div>
</div> -->

    <!--
    <mat-progress-bar class='custom-loading-bar'  mode="indeterminate" *ngIf="disableButton"></mat-progress-bar>
    <div class="loginCard col-md-6 mx-auto">
        <-- card title --
        <div class="row">
            <div class="text-left">
                <button
                    mat-button
                    routerLink = "/main/user-profile">
                        <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div>
                <h4 class="text-center">Change Password</h4>
            </div>
        </div>
        <div class="error-alert" [class.active]="hasErrors">
            {{passwordError}}
        </div>

        <form [formGroup]="changePasswordForm">
            <-- current password --
            <div class="row">
                <mat-form-field class="col-sm-12">
                    <mat-label>Current Password</mat-label>
                    <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="currentPassword" matInput placeholder="d3ltagamm" [type]="currentPasswordType" >
                    <mat-icon matSuffix (click)="toggleVisibility('currentPassword')" class="password-visibility-toggle-button" *ngIf="!currentPasswordVisible">visibility_off</mat-icon>
                    <mat-icon matSuffix (click)="toggleVisibility('currentPassword')" class="password-visibility-toggle-button" *ngIf="currentPasswordVisible">visibility</mat-icon>
                </mat-form-field>
                <div [hidden]="passwordValid" class="required-field col-sm-12">
                    Current password is required
                </div>
            </div>
            <-- new password --
            <div class="row">
                <mat-form-field class="col-sm-12">
                    <mat-label>New Password</mat-label>
                    <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="newPassword" matInput placeholder="d3ltagamm" [type]="newPasswordType" >
                    <mat-icon matSuffix (click)="toggleVisibility('newPassword')" class="password-visibility-toggle-button" *ngIf="!newPasswordVisible">visibility_off</mat-icon>
                    <mat-icon matSuffix (click)="toggleVisibility('newPassword')" class="password-visibility-toggle-button" *ngIf="newPasswordVisible">visibility</mat-icon>
                </mat-form-field>
                <div [hidden]="newPasswordValid" class="required-field col-sm-12">
                    New password is required
                </div>
            </div>
            <-- confirm password --
            <div class="row">
                <mat-form-field class="col-sm-12">
                    <mat-label>Confirm Password</mat-label>
                    <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="confirmPassword" matInput placeholder="d3ltagamm" [type]="confirmPasswordType" >
                </mat-form-field>
                <div [hidden]="confirmPasswordValid" class="required-field col-sm-12">
                    Passwords need to match
                </div>
            </div>
        </form>
        <div class="text-right">
            <button 
                (click)="onChangePassword()" 
                mat-stroked-button 
                [disabled] = "disableButton"
                matTooltip="Change Password">
                    Change
            </button>
        </div>
    </div>
-->


 <div class="col-md-6 offset-md-3 ">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5"> 

    <!-- form card change password -->
   <div class="card card-outline-secondary ">
        <div class="card-header pswd">
            <h4 class="mb-0 text-light"> <button
               
                mat-button
                routerLink = "/main/user-profile/view">
                    <mat-icon>arrow_back</mat-icon>
            </button>
           Change Password</h4>
        </div>
        <mat-progress-bar class='custom-loading-bar'  mode="indeterminate" *ngIf="disableButton"></mat-progress-bar>
        <div class="card-body">
            <form  role="form" autocomplete="off" [formGroup]="changePasswordForm">
                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                  
                    <input type="password" class="form-control" id="inputPasswordOld" required="" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="currentPassword" matInput placeholder="Current Password" [type]="currentPasswordType" >
                        <mat-icon matSuffix (click)="toggleVisibility('currentPassword')" class="password-visibility-toggle-button" *ngIf="!currentPasswordVisible">visibility_off</mat-icon>
                        <mat-icon matSuffix (click)="toggleVisibility('currentPassword')" class="password-visibility-toggle-button" *ngIf="currentPasswordVisible">visibility</mat-icon>
                        <div [hidden]="passwordValid" class="required-field col-sm-12">
                            Current password is required
                        </div>
                </div>
                
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" required="" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="newPassword" matInput placeholder="New Password" [type]="newPasswordType" >
                    <mat-icon matSuffix (click)="toggleVisibility('newPassword')" class="password-visibility-toggle-button" *ngIf="!newPasswordVisible">visibility_off</mat-icon>
                    <mat-icon matSuffix (click)="toggleVisibility('newPassword')" class="password-visibility-toggle-button" *ngIf="newPasswordVisible">visibility</mat-icon>
            
                    <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                        <div [hidden]="newPasswordValid" class="required-field col-sm-12">
                            New password is required
                        </div>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Confirm Password</label>
                    <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" formControlName="confirmPassword" matInput placeholder="Confirm Password" [type]="confirmPasswordType" type="password"required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})"  class="form-control" id="inputPasswordNewVerify" required="">
                    <span  class=" required-field small text-muted">
                            To confirm, type the new password again.
                        </span>
                        <div [hidden]="confirmPasswordValid" class="required-field col-sm-12">
                            Passwords need to match
                        </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn  btn-lg float-right text-light mt-3" 
                     [disabled] = "disableButton"
                      (click)="onChangePassword()" 
                     mat-stroked-button 
                    Tooltip="Change Password">
                        Change
                </button>
                </div>
            </form>
        </div> 
    </div>
    <!-- /form card change password -->
<!-- 
</div> --> 