mat-tab-group {
    color: white;
}

.mat-tab-label {
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: 700;
}


.mat-paginator {
    background-color: #137c9a;
    opacity: 0.95;
    color: white;

}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger, .mat-select-trigger .mat-select-value {
    color: rgba(255,255,255,.87);
}

.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    color: rgba(255,255,255,.87);
}
.custom-mat-card-title {
    font-size: 20px;
    line-height: 25px;
    height: 50px;
}

.giant-number {
    font-size: 10rem;
    line-height: 10rem;
}

.company-dashboard-card .text-subtle {
    color: rgba(0,0,0,0.4);
    font-size: 16px;
}