<nav class="navbar" style="background: linear-gradient(90deg, #40B9F0 0%, rgba(23, 14, 102, 0.90) 100%);">
    <div class="container-fluid d-flex justify-content-center">
        <h4 class="text-white text-weight-bold"><b>Subscriptions</b></h4>
    </div>
</nav>
<div class="container " style="
padding-left: 9%;
padding-right: 9%;
">
   
  <p class="text-center" style="color: #212B6C; font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;">Pay a Blue Premium once-off, and get a lifetime of benefits</p>
<div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 ">

        <div class="card" style="background: white !important;">
            <div class="card-body">
                <p class="card-title"><strong class="fw-bolder fs-3">R200</strong>/once off></p>
                <p class="text-lead"style="color:  #017DB5"> Premium License</p>        
                <p>Our goverment backed plan designed to keep your business legaly and secure</p>  
                <hr>
                <div class="d-flex justify-content-start"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" id="tick" viewBox="0 0 18 18" fill="none">
                    <path d="M5.27594 12.5205L1.87177 9.1164L0 10.9882L4.49225 15.4804L4.4974 15.4752L5.31751 16.2953L18 3.61273L16.0919 1.70459L5.27594 12.5205Z" fill="#F3B007"/>
                    </svg> <p>View basic analytics</p> 
                </div>
                <div class="d-flex justify-content-start"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" id="tick" viewBox="0 0 18 18" fill="none">
                    <path d="M5.27594 12.5205L1.87177 9.1164L0 10.9882L4.49225 15.4804L4.4974 15.4752L5.31751 16.2953L18 3.61273L16.0919 1.70459L5.27594 12.5205Z" fill="#F3B007"/>
                    </svg>  <p>Unlimited access Licenses</p>
                </div>
                <div class="d-flex justify-content-start"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" id="tick" viewBox="0 0 18 18" fill="none">
                    <path d="M5.27594 12.5205L1.87177 9.1164L0 10.9882L4.49225 15.4804L4.4974 15.4752L5.31751 16.2953L18 3.61273L16.0919 1.70459L5.27594 12.5205Z" fill="#F3B007"/>
                    </svg> <p>Consultants from anywhere in the world</p> </div>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <button type="button" class="btn btn-outline-dark " >Your current plan</button>
            </div>
        </div>
</div>
</div>


    <div class="text-center" style="color: #212B6C;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
">
        Limited time only
Cancel within 30 days and we will automatically refund you to your last cent.
    </div>
    <div class="m-3 mx-3 text-center" style="
    flex-shrink: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;">
        *The billing terms provided by the third party will apply to your membership as per the terms and conditions
    </div>
        <p class="text-start"style="
        border-radius: 20px;
        background: #BCE2F0;
        flex-shrink: 0;
        color: #212B6C;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;justify-self: center;">
                Get unlimited Licenses for a once-off payment of $15 
            </p>


    <div class="row">
        <div class="col-12">
            <p  style=" background: #BCE2F0;border-radius: 20px;
            ">Subscription</p>
            <p class="mr-3">Company Name:Blue Pearl (Pty) Ltd
            </p>
            <p class="mr-3">
                Blue License : Blue Premium
            </p>
        </div>
        <div class="col-12">
            <p  style=" background: #BCE2F0;border-radius: 20px;
            ">Payment Method</p>
     
            <span class="d-flex justify-content-between">
                <p>
                    Credit Card Payment 
                </p>
                <a href="http://">Edit payment method</a>
            </span>
            <span class="d-flex justify-content-between">
                <p>Date:2021-08-30</p>
                <button type="button" class="btn btn-md but">Pay now</button>
            </span>
        </div>
    </div>
    

