<div class="container">
    <div class="reset">
        <div class="left-side">
            <p><i class="fa-solid fa-quote-left m-1 ml-2"></i>Expand your network. Join BLUE and collaborate with industry-leading consultants<i class="fa-solid fa-quote-right m-1 mr-2"></i></p>
        </div>
    
        <div class="right-side">
            <div class="custom-card-log customcard">
                <mat-progress-bar *ngIf="loading" class='onboarding-loading-bar' mode="indeterminate"></mat-progress-bar>
                <div class="p-3 text-dark d-flex top">
                    <button mat-button type="button" routerLink="/auth/login" class="mr-2"><mat-icon class="text-muted">arrow_back</mat-icon>Back</button>
                    <h6 class="text-muted small close">STEP 02/02</h6>
                </div>
                
                <div class="custom-card-body p-3">
                    <form class="card-body pt-0 pl-0 pr-0 m-0 login-form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="error-alert" [class.active]="hasErrors">{{errorMessage}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Enter the code you received via email and your new password below</p>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Code -->
                            <mat-form-field class="col-sm-12" appearance="fill">
                                <mat-label>Code</mat-label>
                                <input required [formControl]="code" matInput placeholder="123456" type="text" autocomplete="off">
                                <mat-error *ngIf="code.invalid">Code is required</mat-error>
                            </mat-form-field>
                            <!-- Password -->
                            <mat-form-field class="col-sm-12" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" [formControl]="password" matInput placeholder="******" [type]="newPasswordType" autocomplete="false">
                                <mat-icon matSuffix (click)="toggleVisibility()" class="password-visibility-toggle-button" *ngIf="!newPasswordVisible">visibility_off</mat-icon>
                                <mat-icon matSuffix (click)="toggleVisibility()" class="password-visibility-toggle-button" *ngIf="newPasswordVisible">visibility</mat-icon>
                                <mat-error *ngIf="password.invalid">Password must contain 1 uppercase letter, 1 lowercase letter, 1 number, 1 special character, and should be at least 8 characters long</mat-error>
                            </mat-form-field>
                            <!-- Repeat Password -->
                            <mat-form-field class="col-sm-12" appearance="fill">
                                <mat-label>Confirm Password</mat-label>
                                <input required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" [formControl]="repeatPassword" matInput placeholder="******" [type]="confirmPasswordType" autocomplete="off">
                                <mat-error *ngIf="repeatPassword.invalid">Password is required and passwords must match</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="text-right col-sm-12"> 
                                <button (click)="reset()" mat-button [disabled]="loading" matTooltip="Next" class="primary-button custombotton"> Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
