.mat-card-subtitle-badge {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-radius: 3px;
    text-align: center;
    padding: 05px 0;
    color: rgba(0,0,0,.54);
    font-size: 14px;
    width: 50%;
}

.mat-card {
    margin-bottom: 30px;
}
.custom-cardss{
    border-radius: 20px;
    color: white;
background: #017DB5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.custom-cardds-header{
    /* background-color: aqua; */
}
.mat-card-header-text {
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;

}