<!-- Greeting Section -->
<div class="greeting-container text-white bg-blue p-4">
  <h4 class="mb-3">Hello, <!-- {{username}} --></h4>
  <p>Welcome to our job application platform! We are thrilled to help you discover job opportunities and connect with potential employers.</p>

   <!-- Search Area -->
<div class="search-container bg-blue ">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search for jobs by..Tittle, Company name...">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by location...">
  </div>
  <div class="input-group-append">
    <button class="btn btn-primary mr-2 searbutton" type="button">Find Job</button>
  </div>
</div>
</div>
<div>
</div>





<!-- Jobs Matching Section -->
<div class="job-matching-section mt-0 .parent-container">
  <div class="head d-flex">
    <h2 class="section-title mt-2 mb-3 tittle">Job for you</h2>
    <a (click)="viewAllJobs()" class="viewJ">View All Jobs</a>
  </div>



  <!-- Display matched job profiles -->
  <div class="jobProfiles">
    <div *ngFor="let jobProf of allJobProfiles" class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3 job-profile">
      <!-- Company Logo on top right -->
      <div class="company-logo d-flex">
        <img *ngIf="jobProf.company_logo" src="{{ jobProf.company_logo }}" alt="Company Logo">
        <img *ngIf="!jobProf.company_logo" [src]="defaultCompanyLogoUrl" alt="Default Company Logo">
        <div class="blue-star" (click)="toggleJobSavedStatus(jobProf)">
          <mat-icon>{{ jobProf.isJobSaved ? 'star' : 'star_border' }}</mat-icon>
        </div>
      </div>
      <!-- Company Name on its own row -->
      <div class="company-name">{{jobProf.company.name}}</div>
      <!-- Job Title -->
      <h3 class="job-title hoverable" (click)="viewProfile(jobProf)">{{ jobProf.title }}</h3>
      <!-- Job Description -->
      <p><span class="job-salary1">{{jobProf.ratePerHour | currency:'R'}}</span></p>
      <!-- Salary, Location, Start Time on the bottom row -->
      <div class="bottom-row small-text job-salary">
        <span>Rate: {{jobProf.ratePerHour | currency:'R'}}</span>
        <span> <i class="fa-solid fa-location-dot"></i>{{jobProf.jobLocation}}</span>
        <span> <i class="fa-regular fa-clock"></i>{{jobProf.closingDate | date}}</span>
      </div>
    </div>
  </div>  








</div>

